<%- include('includes/header') %>
<link rel="stylesheet" href="userSide/css/leaderboard.css">

    <div class="leaderboard-container">
        <h1 class="leaderboard-title">Leaderboard</h1>
        <table class="leaderboard-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Profile</th>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Quiz Level</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="/userSide/img/user2.jpg" alt="Profile Picture" class="profile-pic"></td>
                    <td>Ayisha Shirin</td>
                    <td>1500</td>
                    <td>Intermediate</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img src="/userSide/img/user3.jpg" alt="Profile Picture" class="profile-pic"></td>
                    <td>John Doe</td>
                    <td>1450</td>
                    <td>Beginner</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><img src="/userSide/img/user1.jpg" alt="Profile Picture" class="profile-pic"></td>
                    <td>Jane Smith</td>
                    <td>1400</td>
                    <td>Advanced</td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>
</body>
</html>
