<%- include('includes/header') %>
    <link rel="stylesheet" href="userSide/css/login.css">


    <div class="login-container">
        <h2>Login to Quiz India</h2>
        <form action="/login" method="POST">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Sign up</a></p>
    </div>
</body>
</html>