<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz India</title>



</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Quiz</h1>
                <div class="logoimg"> <img src="userSide/img/india.png" alt="" class="user-icon">
                </div>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/profile">Profile</a></li>

            </ul>
            <a href="/register"><button class="join-now">Join Now</button></a>
        </nav>
    </header>